<!doctype html>
<head>
    <title>Target Article</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>


<style>
body {
    background-color: #d2b48c;
}
.sansserif {
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
}

.container{
    padding: 20px;
}

.left_body {
    width: 70%;
    float: left;
}

.rdr-box{
    font-family: system-ui;
    font-size: 20px;
    margin-top: 20px;
}

.right_body {
    width: 20%;
    right: 0;
    position: fixed;
    /*position: relative;*/
}

.rdr-sidebar-index{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 30px;
}
.similar_dis_name {
    font-family: Helvetica, Arial, sans-serif;
    text-text-decoration:underline;
}


</style>

<div class="container">
    <h2 class="text-center">{{name|safe}}</h2>
    <div class="left_body">
       <!--<div class="disease" style="word-wrap:break-word; padding:10px;">
            {% for term in disease %}
                <pre style="white-space: pre-wrap;"><strong>{{term}}</strong>: {{disease[term] | safe}}</pre>
            {% endfor %}
        </div>-->
            <div class="rdr-box" id="name">
                <strong>Name</strong>
                <h1></h1>
                <a name="name"></a>
                <pre style="white-space: pre-wrap; font-family:system-ui; font-size: 16px; ">{{name | safe}}</pre>
            </div>
            <hr>
            <div class="rdr-box" id="introduction">
                <strong>Introduction</strong>
                <h1></h1>
                <a name="introduction"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{intro | safe}}</pre>
            </div>
            <hr>
            <div class="rdr-box" id="symptoms">
                <strong>Symptoms</strong>
                <h1></h1>
                <a name="symptoms"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{symp | safe}}</pre>
            </div>
            <hr>
            <div class="rdr-box" id="causes">
                <strong>Causes</strong>
                <h1></h1>
                <a name="causes"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{causes | safe}}</pre>
            </div>
            <hr>
            <div class="rdr-box" id="treatment">
                <strong>Treatment</strong>
                <h1></h1>
                <a name="treatment"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{treat | safe}}</pre>
            </div>
            <hr>
            <div class="rdr-box" id = "similarDiseases">
                <strong>Similar Diseases</strong>
                <h1></h1>
                {% if similar_dis_num %}
                    {% for res in similarDiseaseDict %}
                        <p class="rdr-box"><a href="/similar_documents/{{res}}" target="_blank">  {{ similarDiseaseDict[res]['name']|safe }} </a> </p>
                    {% endfor %}
                {% else %}
                    {% for res in similarDiseaseDict %}
                        <p class="cannotfind">{{res}}</p>
                    {% endfor %}
                {% endif %}
            </div>
    </div>



        <div class="right_body">
            <div class="sidebar">
                 <!--<div class="rdr-sidebar-index">
                    <p><a href="#name">Name</a></p>
                    <p><a href="#introduction">Introduction</a></p>
                    <p><a href="#symptoms">Symptoms</a></p>
                     <p><a href="#causes">Causes</a></p>
                    <p><a href="#treatment">Treatment</a></p>
                </div>-->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#name">Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#introduction">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#symptoms">Symptoms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#causes">Causes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#treatment">Treatment</a>
                    </li>
                </ul>
             </div>
        </div>

<ul class="">

</ul>




</div>
</body>
