<!doctype html>
<head>
    <title>Target Article</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>


<style>
body {
    background-color: #ffe4c4;
}
.sansserif {
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
}

.container{
    padding: 20px;
}

.left_body {
    width: 70%;
    float: left;
}

.rdr-box{
    font-family: system-ui;
    font-size: 20px;
    margin-top: 20px;
}

.right_body {
    width: 20%;
    right: 0;
    position: fixed;
    /*position: relative;*/
}

.rdr-sidebar-index{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 20px;

}
.similar_dis_name {
    font-family: Helvetica, Arial, sans-serif;
    text-text-decoration:underline;
}
.nav-link:hover {
    background-color: gray;
}


</style>


<div class="container">

    <div class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Details</a>
      </li>
    </div>


    <h2 class="text-center">{{name|safe}}</h2>
    <div class="left_body">
       <!--<div class="disease" style="word-wrap:break-word; padding:10px;">
            {% for term in disease %}
                <pre style="white-space: pre-wrap;"><strong>{{term}}</strong>: {{disease[term] | safe}}</pre>
            {% endfor %}
        </div>-->
            {% if name %}
            <div class="rdr-box" id="name">
                <strong>Name</strong>
                <h1></h1>
                <a name="name"></a>
                <pre style="white-space: pre-wrap; font-family:system-ui; font-size: 16px; ">{{name | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if diseaseType %}
            <div class = "rdr-box" id = "diseaseType">
                <strong>Disease Type</strong>
                <h1></h1>
                <a name = "diseaseType"></a>
                <pre style="white-space: pre-wrap; font-family:system-ui; font-size: 16px; ">{{diseaseType | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if intro %}
            <div class="rdr-box" id="introduction">
                <strong>Introduction</strong>
                <h1></h1>
                <a name="introduction"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{intro | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if symp %}
            <div class="rdr-box" id="symptoms">
                <strong>Symptoms</strong>
                <h1></h1>
                <a name="symptoms"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{symp | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if causes %}

            <div class="rdr-box" id="causes">
                <strong>Causes</strong>
                <h1></h1>
                <a name="causes"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{causes | safe}}</pre>
            </div>

            <hr>
            {% endif %}

            {% if treat %}
            <div class="rdr-box" id="treatment">
                <strong>Treatment</strong>
                <h1></h1>
                <a name="treatment"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{treat | safe}}</pre>
            </div>
            <hr>

            {% endif %}

            {% if popu %}
            <div class="rdr-box" id="affected_populations">
                <strong>Affected_Populations</strong>
                <h1></h1>
                <a name="affected_populations"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{popu | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if diag %}

            <div class="rdr-box" id="diagnosis">
                <strong>Diagnosis</strong>
                <h1></h1>
                <a name="diagnosis"></a>
                <pre style="white-space: pre-wrap;  font-family:system-ui; font-size: 16px; ">{{diag | safe}}</pre>
            </div>
            <hr>
            {% endif %}

            {% if similarDiseaseDict %}

            <div class="rdr-box" id = "similarDiseases">
                <strong>Similar Diseases</strong>
                <h1></h1>
                {% if similar_dis_num %}
                    {% for res in similarDiseaseDict %}
                        <p class="rdr-box"><a href="/similar_documents/{{res}}" target="_blank">  {{ similarDiseaseDict[res]['name']|safe }} </a> </p>
                    {% endfor %}
                {% else %}
                    {% for res in similarDiseaseDict %}
                        <p class="cannotfind">{{res}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
    </div>



        <div class="right_body">
            <div class="sidebar" role="navigation">
            <div class="rdr-sidebar-index" role="navigation">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% if name %}
                <a class="nav-link" id="v-pills-name-tab" data-toggle="pill" href="#name" role="tab" aria-controls="v-pills-home" aria-selected="true">Name</a>
                {% endif %}
                {% if diseaseType %}
                <a class="nav-link" id="v-pills-diseaseType-tab" data-toggle="pill" href="#diseaseType" role="tab" aria-controls="v-pills-home" aria-selected="true">Disease Type</a>
                {% endif %}
                {% if intro %}
                <a class="nav-link" id="v-pills-intro-tab" data-toggle="pill" href="#introduction" role="tab" aria-controls="v-pills-profile" aria-selected="false">Introduction</a>
                {% endif %}
                {% if symp %}
                <a class="nav-link" id="v-pills-sym-tab" data-toggle="pill" href="#symptoms" role="tab" aria-controls="v-pills-messages" aria-selected="false">Symptoms</a>
                {% endif %}
                {% if causes %}
                <a class="nav-link" id="v-pills-causes-tab" data-toggle="pill" href="#causes" role="tab" aria-controls="v-pills-messages" aria-selected="false">Causes</a>
                {% endif %}
                {% if treat %}

                <a class="nav-link" id="v-pills-treatment-tab" data-toggle="pill" href="#treatment" role="tab" aria-controls="v-pills-settings" aria-selected="false">Treatment</a>
                {% endif %}
                {% if popu %}

                <a class="nav-link" id="v-pills-affected_populations-tab" data-toggle="pill" href="#affected_populations" role="tab" aria-controls="v-pills-settings" aria-selected="false">Populations</a>
                {% endif %}
                {% if diag %}

                <a class="nav-link" id="v-pills-diagnosis-tab" data-toggle="pill" href="#diagnosis" role="tab" aria-controls="v-pills-settings" aria-selected="false">Diagnosis</a>
                {% endif %}
                {% if similarDiseaseDict %}
                <a class="nav-link" id="v-pills-similarDiseases-tab" data-toggle="pill" href="#similarDiseases" role="tab" aria-controls="v-pills-settings" aria-selected="false">Similar</a>
                {% endif %}
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                {% if name %}
                <div class="tab-pane fade show active" id="v-pills-name" role="tabpanel" aria-labelledby="v-pills-name-tab"></div>
                {% endif %}
                {% if diseaseType %}
                <div class="tab-pane fade show active" id="v-pills-diseaseType" role="tabpanel" aria-labelledby="v-pills-diseaseType-tab"></div>
                {% endif %}

                {% if intro %}
                <div class="tab-pane fade" id="v-pills-intro" role="tabpanel" aria-labelledby="v-pills-intro-tab"></div>
                {% endif %}

                {% if symp %}
                <div class="tab-pane fade" id="v-pills-sym" role="tabpanel" aria-labelledby="v-pills-sym-tab"></div>
                {% endif %}

                {% if causes %}
                <div class="tab-pane fade" id="v-pills-causes" role="tabpanel" aria-labelledby="v-pills-causes-tab"></div>
                {% endif %}

                {% if treat %}
                <div class="tab-pane fade" id="v-pills-treatment" role="tabpanel" aria-labelledby="v-pills-treatment-tab"></div>
                {% endif %}

                {% if popu %}
                <div class="tab-pane fade" id="v-pills-affected_populations" role="tabpanel" aria-labelledby="v-pills-affected_populations-tab"></div>
                {% endif %}

                {% if diag %}
                <div class="tab-pane fade" id="v-pills-diagnosis" role="tabpanel" aria-labelledby="v-pills-diagnosis-tab"></div>
                {% endif %}

                {% if similarDiseaseDict %}
                <div class="tab-pane fade" id="v-pills-similarDiseases" role="tabpanel" aria-labelledby="v-pills-similarDiseases-tab"></div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

</body>


